@import "reset.css";

body {
    background:#efefef;
}
h1,h2,h3 {
    font-weight: bold;
    font-family: "Trebuchet MS",Arial,sans-serif;
    line-height: 2em;
}
h1 {
    font-size:2em;
}
h2 {
    font-size:1.8em;
}
h3 {
    font-size:1.5em;
}
.modal {
    margin:0 auto;
    width:350px;
    padding: 15px;
    background:#fff;
    position:absolute;
    top:30px;
    left:400px;
}
.close {
    position:absolute;
    right:0;
    top:0;
    width:25px;
    height:25px;
    background: yellow;
}

#field {
    height:30px;
    display:block;
    transition: all ease-in-out 500ms;
    overflow:hidden;
}
/*
#field:hover {
    padding-left:100%;
    transition: all ease-in-out 500ms;
}*/