/*PlayIT újragondolás stíluslapja*/
body {
    background: #009fd9;
    background: linear-gradient(135deg, #009fd9, #00293b);
    font-family: Arial;
    line-height: 1.5em;
}

a { /*az oldalon legtöbbet használt stílus legyen az alapbeállítás*/
    text-decoration: none;
    color: #fff;
}

.text-center {
    text-align: center;
}

header {
    background: #009fd9;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
    /*text-shadow: 10px 8px 10px yellow,
    10px -8px 10px red,
    -10px 8px 10px green,
    -10px -8px 10px blue;*/
}

/*logo méretezése a fejlécben*/
header .brand-logo img {
    height: 50px;
    padding: 5px;
    vertical-align: middle; /*az utána következő elem a kép közepére legyen vertikálisan helyezve (itt menü lista van mellette*/
}

.wrapper {
    /*background: rgba(255,255,255,0.7);*/
    width: 100%;
    max-width: 1200px;
    /*középre helyezés*/
    margin: 0 auto;
}

/*navigáció kialakítása*/
ul.top-nav {
    display: inline-block;
    /*background:black;*/
}

ul.top-nav li {
    /*background: blue;*/
    display: inline-block; /*listaelemek egymás mellé és blokk tulajdonságokat is vegyék fel*/
}

ul.top-nav a {

    margin: 5px 12px 7px;
	padding:5px 0 7px;
    display: inline-block;
    text-decoration: none; /*aláhuzás eltávolítása*/
    text-transform: uppercase; /*csak nagybetű*/
    font-weight: bold;
    color: #fff;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

ul.top-nav a:hover { /*ha a menu elem fölé huzzuk az egeret tag:pseudoselector*/
    border-top: 2px solid #00d2ff;
    border-bottom: 2px solid #00d2ff;
    color: #00d2ff;
}

/* navigáció vége */

/*slider*/
.slider {
    padding: 30px 15px; /*távolságtrtások*/
}

.slider img {
    max-width: 100%; /*ne lóghasson ki*/
}

main {
    /*amig nincs content se legyen pici*/
    min-height: 500px;
    padding: 30px 0;
}
.jegyvasarlas {
		position:relative;/*helyszín oldalon a gmap ra tudjon 'rálógni'*/
}
.jegyvasarlas a {
    display: inline-block;
    padding: 15px 45px;
    background: #fff;
    border: 3px solid #00d2ff;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    /*lekerítés*/
    border-radius: 30px;
    transition: all ease-in-out 400ms;
}

.jegyvasarlas a:hover {
    background: #00d2ff;
    border-color: #fff;
    text-shadow: 0 1px 2px #fff; /*olvashatóság miatt hoveren kap egy kis 'fényt' a fekete szöveg pereme*/
    transition: all ease-in-out 400ms;
}

footer {
    background: #000;
    color: #fff;
    overflow: hidden;
    padding: 60px 0;
    clear: both;
}

footer div {
    width: 33%;
    float: left;
}

footer .brand-logo img {
    width: 160px;
}

/*social*/
footer .social {
    /*background:pink;*/
    overflow: hidden;
    line-height: 2.5em;
}

.fb {
    padding-left: 30px; /*csinálunk helyet az ikonnak*/
    /*background:#aaa;*/

}

.fb:before {
    content: 'f';
    /*background:orange;*/
    font-weight: bold;
    font-size: 24px;
    /*'ikon működés'*/
    display: block;
    position: absolute;
    width: 30px;
    overflow: hidden;
    margin-left: -30px;
    text-align: center;
}

/*.fb:after {
    content:'end';
    background: lime;
}*/
/*index oldal kép grid v1*/
div[class^="col-"] {
    float: left;
    padding: 0 1%;
}

.col-8 {
    width: 64.66%;
    background-color: red;
}

.col-4 {
    width: 31.33%;
    background: green;
}

.col-6 {
    width: 48%;
    background: blue;
}

.fbesemeny, .jegyek, .szavazasdoboz, .galeriadoboz {
    height: 380px;
    margin: 15px auto;
    transition:all 200ms ease-in-out;
}
/**zoomolt háttérképek**/
.jegyek {
    background: url("../images/playit2018-gyor-jegyek_760x380.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:95%;
}
.jegyek:hover,
.galeriadoboz:hover,
.szavazasdoboz:hover,
.fbesemeny:hover {
    background-size:100%;
    transition: 200ms ease-in-out;
}
.fbesemeny {
    background: url('../images/playit2018-budapest-fb-event-page_380x380.jpg') center center no-repeat;
    background-size:95%;
}
.galeriadoboz {
    background: url('../images/playit2018-budapest-galeria_540x410.jpg') center center no-repeat;
    background-size:95%;
}
.szavazasdoboz {
    background: url('../images/playit2018-budapest-szavazas_540x410.jpg') center center no-repeat;
    background-size:95%;
 }
 /*google map pozicíonálás*/
 .gmapframe {
	 margin-top:-30px;
 }