@import "reset.css";
.wrapper {
    width:1200px;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
body {
    color:#ddd;
}
a {
    text-decoration: none;
}
header {
    background: #333;
}
.slider {
    background: #000 url('../img/header.jpg') no-repeat center center;
    height:450px;
}
.exclusive {
    background: #333;
}
.products {
    color:#222;
}
footer {
    background: #000;
    color:#ddd;
}
