.slider {
    padding-top: 50px;
    background: khaki;
}

h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 30px;
}

.col-xs-12 {
    background: lime;
}

.col-md-6 {
    /*background: deeppink;*/
    min-height: 100px;
}

.col-lg-4 {
    background: #9acfea;
}

@media (min-width: 1200px) {
    .kinalo-4 article {
        height: 540px;
    }

    .btn-cart {
        position: absolute;
        transform: translate(-50%);
        bottom: 5px;
    }
}

/*ie hack*/
@media (max-width: 768px) {
    .carousel {
        display: none;
    }
}

.kinalo-4 article {
    padding-top: 15px;
    margin-top: 15px;
}

.btn-cart {
    background: #8f133c;
    color: #fff;
}

.btn-cart:hover {
    background: #b5184c;
    color: #fff;
}

section.row {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background: #3c3c3c;
    color: #eee;
}

.carousel {
    max-height: 440px; /*todo: caption kerüljön a bal felső sarokba -lejebb meg is lett valósítva*/
    overflow: hidden;
    vertical-align: baseline;
}

.carousel-caption { /*caption újrapozicionálása*/
    left: 15px;
    top: 30px;
    transform: translateX(-25%);
}

.carousel-caption h3 { /*cím formázása*/
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
}

.carousel-caption h3 span { /*span ne transformálja a betűket*/
    text-transform: none;
}

.carousel img {
    max-height: 100%;
    overflow: hidden;
}

.contact-form {
    padding-top: 30px;
    padding-bottom: 30px;
}